
body {
    color: #2B273C;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0em;
    text-rendering: optimizeLegibility;
    margin: 0px;
    height: 100%;
}

#header{
    margin-top: 32px;
    margin-bottom: 24px;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

#header a{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    letter-spacing: -0.003em;
}

.site-title a{
    text-align: left;
}

.site-header, .site-page, .site-footer {
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.site-page{
    margin: 0px auto;
}

img{
    image-rendering: optimizeQuality;
}

.site-header{
    margin-top: 32px;
    margin-bottom: 24px;
}

h4{
    font-style: normal;
    font-weight: 600;
    font-size: 24px !important;
    line-height: 150% !important;
    /* identical to box height */
    margin-bottom: 20px !important;

    color: #757280;
}

.background-light{
    background: rgba(0, 0, 0, 0.03);
}



h5{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 20px !important;
    line-height: 120% !important;
    /* identical to box height, or 24px */


    color: #2B273C;
}

.mobile-site-header {
    z-index: 1000;
    opacity: 1;
    -webkit-transition: opacity 140ms cubic-bezier(.55,.06,.68,.19);
    -moz-transition: opacity 140ms cubic-bezier(.55,.06,.68,.19);
    -ms-transition: opacity 140ms cubic-bezier(.55,.06,.68,.19);
    -o-transition: opacity 140ms cubic-bezier(.55,.06,.68,.19);
    transition: opacity 140ms cubic-bezier(.55,.06,.68,.19);
}

.site-spacing-extra-small .site-header, .site-spacing-extra-small .site-page, .site-spacing-extra-small .site-footer {
}

.ancillary-header-full-width .site-header {
    max-width: 100%;
}

#top-image{
    z-index: 1000;
}

.site-container {
    opacity: 1;
    height: 100%;
    -webkit-transition: opacity 100ms linear 100ms;
    -moz-transition: opacity 100ms linear 100ms;
    -ms-transition: opacity 100ms linear 100ms;
    -o-transition: opacity 100ms linear 100ms;
    transition: opacity 100ms linear 100ms;
    position: relative;
    width: auto;
    max-width: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

.ancillary-header-full-width .site-header {
    max-width: 100%;
}

.ancillary-header-branding-position-left [data-nc-base="header"] [data-nc-container="left"][data-nc-container], .ancillary-header-tagline-position-left.has-tagline [data-nc-base="header"] [data-nc-container="left"][data-nc-container], .ancillary-header-primary-nav-position-left.has-primary-nav [data-nc-base="header"] [data-nc-container="left"][data-nc-container], .ancillary-header-secondary-nav-position-left.has-secondary-nav [data-nc-base="header"] [data-nc-container="left"][data-nc-container], .ancillary-header-cart-position-left.has-cart [data-nc-base="header"] [data-nc-container="left"][data-nc-container], .ancillary-header-account-position-left.has-user-accounts [data-nc-base="header"] [data-nc-container="left"][data-nc-container] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

[data-nc-base="header"] [data-nc-container="left"] {
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    display: none;
}

.sqs-col-12 .sqs-col-4 {
    width: 33.3333%;
}

[data-nc-container] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%;
}

[data-nc-group] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

[data-nc-base="header"] [data-nc-container="left"] [data-nc-element="branding"] {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}

[data-nc-container="left"] [data-nc-element] {
    margin-right: 20px;
}
[data-nc-element] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
}


.site-title a:link, .site-title a:visited, .site-title a:hover, .site-title a:active {
    color: #2a263b;
    text-decoration: none;

    font-family: 'Sora', sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    letter-spacing: -0.003em;
}
body a {
    color: #66717a;
    text-decoration: none;
}

a {
    font-family: 'Inter', sans-serif;
    background: transparent;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}


.primary-nav-wrapper nav a:hover, .primary-nav-wrapper nav a:active, .primary-nav-wrapper nav .active>a {
    color: #2a263b;
}

.primary-nav-wrapper nav a:link, .primary-nav-wrapper nav a:visited, .primary-nav-wrapper nav .folder-toggle-label {
    color: #a7b6c2;
}
body a {
    color: #66717a;
    text-decoration: none;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.primary-nav-wrapper nav {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #2a263b;
    text-transform: lowercase;
}
.primary-nav-wrapper nav {
    font-size: 14px;
    letter-spacing: .02em;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .05em;
    line-height: 1em;
}

[data-nc-base="header"] [data-nc-container="right"] {
    text-align: right;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

[data-nc-base="header"] [data-nc-container="left"] {
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

[data-nc-base="header"] [data-nc-container="right"] [data-nc-element="primary-nav"] {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}

[data-nc-container="right"] [data-nc-element] {
    margin-left: 20px;
}
[data-nc-element] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
}

.site-navigation{
    margin-left: 20px;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #2a263b;
    width: auto !important;
    margin-left: 24px; 
    margin-right: 0;
}

#header .site-navigation{
    padding: 0px;
}

#navigation-as{
    margin-left: auto;
    margin-right: 0;
    padding-right: 0px;
    justify-content: right;
}

.secondary-nav-wrapper  {
    color: #a7b6c2;
    letter-spacing: .05em;
}

.primary-nav-wrapper  {
    color: #333;
    letter-spacing: .05em;
}


figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sqs-layout:not(.sqs-editing) .sqs-row .sqs-block:not(.float):not(.sqs-feature-gated-wrapper):first-child {
    padding-top: 0;
}

.sqs-block:not(.sqs-block-html):not(.sqs-block-markdown) {
    clear: both;
}

.sqs-block {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
}

.sqs-col-12 {
    width: 100%;
}

.collection-type-index .site-page {
    max-width: 100%;
}

.site-alignment-center .site-page, .site-alignment-center .site-footer {
    margin-left: auto;
    margin-right: auto;
}

.sqs-row {
    width: auto !important;
}

.sqs-col-12 .sqs-col-6 {
    width: 50%;
}

.sqs-block-button .sqs-block-button-container--right {
    text-align: right;
}

.small-button-style-outline .sqs-block-button .sqs-block-button-element--small {
    color: #151b1e;
}

.small-button-style-outline .sqs-block-button .sqs-block-button-element--small, .medium-button-style-outline .sqs-block-button .sqs-block-button-element--medium, .large-button-style-outline .sqs-block-button .sqs-block-button-element--large, .small-button-style-outline .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--small, .medium-button-style-outline .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--medium, .large-button-style-outline .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--large {
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    transition: 0.1s background-color linear, 0.1s color linear;
}

.sqs-block-button .sqs-block-button-element--small {
    padding: 13px 26px;
    font-weight: 600;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    background-color: #151b1e;
    border-color: #151b1e;
}


.bg-gradient-3{
    background: linear-gradient(360deg, #47536D 0%, #101217 100%);
}

.small-button-shape-rounded .sqs-block-button .sqs-block-button-element--small, .medium-button-shape-rounded .sqs-block-button .sqs-block-button-element--medium, .large-button-shape-rounded .sqs-block-button .sqs-block-button-element--large {
    border-radius: 3px;
}

.medium-button-style-outline .sqs-block-button .sqs-block-button-element--medium {
    color: #2a263b;
}
.small-button-style-outline .sqs-block-button .sqs-block-button-element--small, .medium-button-style-outline .sqs-block-button .sqs-block-button-element--medium, .large-button-style-outline .sqs-block-button .sqs-block-button-element--large, .small-button-style-outline .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--small, .medium-button-style-outline .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--medium, .large-button-style-outline .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--large {
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    -webkit-transition: 0.1s background-color linear, 0.1s color linear;
    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -o-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear;
}
.sqs-block-button .sqs-block-button-element--medium {
    padding: 21px 34px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #fff;
    background-color: #2a263b;
    border-color: #2a263b;
}

h1:not(.BlogItem-title):not(.BlogList-item-title):not(.ProductList-title):first-child, h2:first-child, h3:not(.project-slide-description-title):first-child, .page-title:first-child, .page-description p:first-child {
    margin-top: 0;
}
.sqs-block-html .sqs-block-content>*:first-child {
    margin-top: 0;
}


h1, h2, h3 {
    font-family: 'Sora', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-style: normal;
    font-weight: 600 !important;
    font-size: 36px !important;
    line-height: 120%;
    letter-spacing: -0.005em;


    color: #2B273C;
}

.row:before, .row:after{
    display: none;
  }

.sqs-block:not(.sqs-block-html):not(.sqs-block-markdown) {
    clear: both;
}

[class*=sqs-col] .sqs-block {
    padding-left: 17px;
    padding-right: 17px;
}
.spacer-block {
    height: 64px !important;
    padding: 0px !important;
}
.sqs-block {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
}

.sqs-col-12 .sqs-col-3 {
    width: 25%;
}
.sqs-col-3 {
    width: 25%;
}
[class*=sqs-col] {
    float: left;
}

.sqs-layout:not(.sqs-editing)>.sqs-row:first-child>[class*=sqs-col]:first-child>.sqs-block:last-child, .sqs-layout:not(.sqs-editing) .sqs-block+.sqs-row .sqs-block:not(.float):last-child {
    padding-bottom: 17px;
}

.sqs-layout:not(.sqs-editing) .sqs-block+.sqs-row .sqs-block:not(.float):first-child {
    padding-top: 17px;
}
.sqs-layout:not(.sqs-editing) .sqs-row .sqs-block:not(.float):not(.sqs-feature-gated-wrapper):first-child {
    padding-top: 0;
}
[class*=sqs-col] .sqs-block {
    padding-left: 17px;
    padding-right: 17px;
}
.sqs-block-html {
    clear: none;
}
.sqs-block {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
}

h3 {
    font-style: normal;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 120%;
    letter-spacing: -0.003em;

    color: #2B273C;
    margin-bottom: 12px !important;
}

.h3-span{
    
    font-style: normal;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 120%;
    letter-spacing: -0.003em;

    color: #2B273C;
    margin-bottom: 12px !important;
}

.sqs-block-button .sqs-block-button-element {
    display: inline-block;
    width: auto;
    height: auto;
    color: #fff;
    background-color: #272727;
    border-width: 0;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: normal;
}

.sqs-block-button .sqs-block-button-element:hover{
    color: #fff;
    background-color: #272727;
}

/* upper right */
#block-yui_3_17_2_1_1596572804589_3725 {
    padding-left: 5vw;
    padding-right: 48px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#block-yui_3_17_2_1_1596572804589_9591 {
    padding-top: 32px;
    padding-right: 48px;
}

#block-yui_3_17_2_1_1596576559407_7223 {
    margin-left: 48px;
    margin-top: 32px;
    padding: 0px;
    width: max-content;
}

#block-yui_3_17_2_1_1596576559407_12103 {
    padding-top: 32px;
    padding-right: 5vw;
}

/* bottom right */
#block-yui_3_17_2_1_1596576559407_41449 {
    padding-top: 32px;
    padding-right: 48px;
}

#block-yui_3_17_2_1_1596576559407_39794 {
    padding-left: 5vw;
    padding-top: 32px;
}

/* upper left */
#block-yui_3_17_2_1_1596572804589_4935 {
    padding-right: 5vw;
    padding-left: 48px;
    padding-bottom: 0px;
    padding-top: 0px;
}

[class*=sqs-col]:last-child {
    padding-right: 0;
}

#block-yui_3_17_2_1_1596572804589_9591 {
    padding-top: 32px;
    padding-right: 48px;
}


#block-yui_3_17_2_1_1596572804589_7779 {
    margin-left: 5vw;
    margin-top: 32px;
    padding: 0px;
    width: max-content;
}

/* bottom left */
#block-yui_3_17_2_1_1596576559407_45952 {
    padding-top: 32px;
    padding-right: 5vw;
}

#block-yui_3_17_2_1_1596576559407_44177 {
    padding-left: 48px;
    padding-top: 32px;
}


.sqs-block-html .sqs-block-content>*:first-child {
    margin-top: 0;
}

.sqs-block-html .sqs-block-content>*:first-child {
    margin-top: 0;
}

.sqs-col-6 .sqs-col-3 {
    width: 50%;
}

.text-secondary-white{
    color: rgba(255, 255, 255, 0.8);
}


p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 376;
    font-size: 20px;
    line-height: 150%;
    /* or 24px */


    color: #2B273C;
}

a {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    display: block;

    margin-bottom: 16px;
    color: #2B273C;
}


#index-section-yelp-know-your-guest{
    display: none;
}

#index-section-yelp-waitlists-kiosk{
    display: none;
}
#index-section-dilemma-llama{
    display: none;
}
#index-section-square{
    display: none;
}

[class*=sqs-col] {
    float: left;
}

.sqs-col-6 .sqs-col-2 {
    width: 33.3333%;
}

.sqs-col-6 .sqs-col-4 {
    width: 66.6667%;
}

.spacer-block {
    height: 64px !important;
    padding: 0px !important;
}

.sqs-block {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
}

.index-navigation {
    font-style: normal;
}

.index-navigation {
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 0em;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    letter-spacing: -.015em;
    text-transform: none;
    width: 100%;
    color: #d8e1e8;
}
.site-alignment-center .index-item-navigation {
    text-align: center;
}

.index-navigation .index-nav-link {
    padding: .5em;
    display: inline-block;
    color: inherit;
    line-height: normal;
}

.index-navigation .index-nav-link.active-link, .index-navigation .index-nav-link:hover {
    color: #202b33;
}

nav a:link, nav a:visited {
    -webkit-transition: color 140ms cubic-bezier(.33,0,.2,1);
    -moz-transition: color 140ms cubic-bezier(.33,0,.2,1);
    -ms-transition: color 140ms cubic-bezier(.33,0,.2,1);
    -o-transition: color 140ms cubic-bezier(.33,0,.2,1);
    transition: color 140ms cubic-bezier(.33,0,.2,1);
}

.splash-header {
    margin-bottom: 16px;
    letter-spacing: -0.02em;
}

.splash-subhead {
    margin-bottom: 24px;
}


.splash-copy {
}

.left-header-content {
    max-width: calc(920px - 5vw - 5vw);
    margin: 0px auto;
    padding-right: 5vw;
    padding-left: 5vw;
}

.flex-horizontal {
    display: flex;
    position: relative;
    z-index: 500;
}

.header-background {
    position: absolute;
    width: 100%;
    height: 470px;
    left: 0px;
    top: 0px;
    background: #ffffff;
}


#all-experience-background{
    display: block;
    justify-content: center;
    background-color: black;
    padding-bottom: 48px;
}

.classes-points{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    /* Grayscale/Black-Regular */

    color: #2B273C;
}

.right-header-content {
    margin-top: 304px;
    width: 50%;
}

.each-class-group{
    display: flex;
    flex-direction: row;

    padding: 64px;


    background: #FFFFFF;
    border-radius: 12px;

    padding: 64px;
    margin: 0px auto;
    margin-top: 80px;
}



.each-class-group:hover{
    box-shadow: 0px 8px 24px rgba(16, 22, 26, 0.2), 0px 2px 4px rgba(16, 22, 26, 0.2), 0px 0px 0px rgba(16, 22, 26, 0.1);
}

.proj-cover-photos{
    width: 400px;
    height: 100%;
}

.proj-copy-container{
    width: 100%;
    margin-left: 64px;
}

.proj-header{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #2B273C;
    margin-bottom: 12px;
}

h2 {
    margin-bottom: 24px !important;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 28px !important;
    line-height: 120% !important;
    letter-spacing: -0.005em !important;

    color: rgba(0, 0, 0, 0.9);
}

.description-task-proj{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;

    /* Grayscale/Black-Extra-Light */

    color: #757280;
}

.emphasis-text{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    /* identical to box height */


    color: #2B273C;
    margin-top: 28px;
}

.proj-a-tag{
    display: block;
}

#know-your-guest-proj{
    margin-top: 610px;
}

#kiosk-proj{
    margin-top: 1100px;
}

#llama-proj{
    margin-top: 1590px;
}

.fake-button-proj{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* Grayscale/Black-Regular */

    color: #2B273C;
    padding: 12px 20px;
    border: 2px solid #2B273C;
    background-color: white;
    margin-top: 28px;
    width: max-content;
    text-transform: uppercase;

}

.an-image{
    width: 100%;
}

.main-content {
    padding-right: 5vw;
    padding-left: 5vw;
}

#block-yui_3_17_2_1_1590352906271_27991{
    padding-bottom: 0px;
}

#block-yui_3_17_2_1_1590352906271_28937{
    padding-top: 0px;
}

#block-yui_3_17_2_1_1590352906271_23775{
    padding-bottom: 0px;
}

#block-yui_3_17_2_1_1590352906271_26092{
    padding-top: 0px;
}

#block-yui_3_17_2_1_1590352906271_122627{
    padding-bottom: 0px;
}

#block-yui_3_17_2_1_1590352906271_130597{
    padding-top: 0px;
}

#indexNav{
    margin-top: 64px;
}

.image-header-desc{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* Grayscale/Black-Regular */

    color: #2B273C;
}

.margin-bottom-16{
    margin-bottom: 16px;
}

.a-half-image{
    width: 50%;
    height: max-content;
}

.right-image-desc-block{
    padding-left: 40px;
}

.left-image-desc-block{
    padding-right: 40px;
}

.black-box{
    border: 4px solid #2B273C;
    box-sizing: border-box;
}

.black-box-thirds{
    width: 40%;
    margin-right: 40px;
}

.black-box-thirds-last{
    width: 40%;
}

.black-box-halves{
    width: 50%;
    margin-right: 40px;
    background: white;
}

.black-box-halves-last{
    width: 50%;
    background: white;
}

.black-box-full{
    width: 100%;
    background: white;
    margin-top: 40px;
    width: 880px;
    margin: 0px auto;
    margin-top: 40px;
}

.thick-divider{
    width: 100%;
    height: 4px;
    background-color: #2B273C;
}

#about-me-pic{
    margin-top: 228px;
    width: 320px; 
}

#about-me-subhead{
    width: 380px;
}

#block-yui_3_17_2_1_1586224800310_242196{
    padding-top: 0px;
}
/* breakpoint at 880 here!! */


.vertical-interactive{
    margin: auto 0px;
    margin-left: 64px;
}

.interactive-block-hor{
    margin-right: 64px;
}

.interactive-block{
    margin-bottom: 40px;
    cursor: pointer;
}

.int-second{
    color: #A7B6C2;
}


.int-second:hover {
    color: #8A9BA8;
}

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 58.5%;
    perspective: 100px;
    border: 4px solid #2B273C;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
  }
  
  .carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      /* animation-name: tonext, snap; */
      /* animation-timing-function: ease;
      animation-duration: 4s; */
      /* animation-iteration-count: infinite; */
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #BBBAC0;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }


  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  
  
  #carousel__slide1{
      background-image: url('../slide1spont.png');
      background-size: contain;
  }

  #carousel__slide2{
    background-image: url('../slide2spont.png');
    background-size: contain;
    }

    #carousel__slide3{
        background-image: url('../slide3spont.png');
        background-size: contain;
    }

    #carousel__slide4{
            background-image: url('../slide4spont.png');
            background-size: contain;
    }

    #scroll-to-projs{
    color: #2B273C;
    }

    

    #scroll-to-projs:hover{
        text-decoration: underline;
    }

    #about-splash-copy{
        margin-bottom: calc(66px + 5vw);
    }


    #experience-block{
        width: 880px;
        margin: 0px auto;
        height: max-content;
    }

    .education-blocks{
        margin: 24px; 
        width: calc(50% - 48px - 2px);
    }

    .divider-vertical{
        width: 4px;
        background-color: #2B273C;
    }


    #block-yui_3_17_2_1_1586224800310_237133{
        padding-top: 0px;
    }

    #block-yui_3_17_2_1_1587421975691_38129{
        padding-bottom: 0px;
    }

    #flip-divider{
        display: none;
    }

    #about-me-socials{
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        margin: 80px 0px;
    }

    .about-me-icons{
        width: 64px;
        height: 64px;
        margin: 0px auto;
        margin-top: 24px;
    }

    .social-group{
        margin-right: 48px;
    }

    .social-group:hover .black-box{
        box-shadow: 0px 8px 24px rgba(16, 22, 26, 0.2), 0px 2px 4px rgba(16, 22, 26, 0.2), 0px 0px 0px rgba(16, 22, 26, 0.1);
    }

    .social-group-last:hover .black-box{
        box-shadow: 0px 8px 24px rgba(16, 22, 26, 0.2), 0px 2px 4px rgba(16, 22, 26, 0.2), 0px 0px 0px rgba(16, 22, 26, 0.1);
    }

    #about-me-header-content{
        width: max-content;
        max-width: max-content;
    }


@media only screen and (max-width: 1040px) {
    #know-your-guest-proj {
        margin-top: 580px;
    }

    #kiosk-proj {
        margin-top: 1050px;
    }

    #llama-proj {
        margin-top: 1520px;
    }


    .each-class-group {
        align-items: flex-start;
        margin: 64px;
        align-items: center;
    }

    #experience-block{
        width: calc(100%);
        margin: 0px auto;
        margin-bottom: 40px;
    }

    .black-box-full{
    }

}


@media only screen and (max-width: 1000px) {
    .proj-cover-photos {
        width: 320px;
        height: 100%;
    }

    #know-your-guest-proj {
        margin-top: 510px;
    }

    #kiosk-proj {
        margin-top: 930px;
    }

    #llama-proj {
        margin-top: 1340px;
    }

   

    .each-class-group {
        align-items: flex-start;
        align-items: center;
    }

    #experience-block{
        width: calc(100% - 0px);
    }

    .black-box-full{
        width: calc(100% - 0px);
    }

}


@media only screen and (max-width: 880px) {
    .each-class-group {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
    }

    .proj-copy-container{
        margin-left: 0px;
        margin-top: 40px;
        width: 400px;
        text-align: center;
        align-items: center;
    }

    .fake-button-proj{
        margin: 0px auto;
        margin-top: 24px;
    }

    #know-your-guest-proj {
        margin-top: 720px;
    }

    #kiosk-proj {
        margin-top: 1355px;
    }

    #llama-proj {
        margin-top: 1990px;
    }

 
    #all-experience-background {
        height: max-content;
        display: block;
    }

    .left-header-content{
        padding: 0px 80px;
        margin: 0px;
    }

    #about-me-header-content{
        width: 100%;
        max-width: max-content;
    }

    #about-me-pic {
        margin-top: 0px;
        width: 100%;
        margin-bottom: 80px;
    }

    #about-me-subhead{
        padding-right: 0px;
        width: 100%;
    }

    #about-me-cover-flex{
        flex-direction: column;
    }

   
    #experience-block{
    }

}

@media only screen and (max-width: 786px) {
    left-image-desc-block {
        padding-right: 0px;
    }

    .a-half-image {
        width: 100%;
        height: max-content;
    }

    .right-image-desc-block {
        padding-left: 0px;
        margin-top: 40px;
    }

    #earlier-break-flex{
        flex-direction: column;
    }

    .black-box-thirds {
        width: 40%;
        margin-right: 24px;
    }

    .vertical-interactive {
        margin: auto 0px;
        margin-left: 40px;
    }
}

#course-browser-splash-back{
    margin-bottom: -12em;
}


@media only screen and (max-width: 720px) {
    #course-browser-splash-back{
        margin-bottom: -6em;
    }

    .each-class-group {
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        align-items: center;
    }

    #experience-block{
        width: calc(100% );
    }

    .black-box-full{
        width: calc(100% );
    }

    .education-blocks{
        width: 100%;
    }

    #flip-divider{
        display: block;
    }

    .proj-copy-container{
        margin-left: 0px;
        margin-top: 40px;
        text-align: center;
        width: 100%;
        align-items: center;
    }

   

    #know-your-guest-proj {
        margin-top: 530px;
    }

    #kiosk-proj {
        margin-top: 1000px;
    }

    #llama-proj {
        margin-top: 1470px;
    }

   

    .left-header-content{
        padding: 0px 40px;
        margin: 0px;
    }


    .flex-horizontal {
        flex-direction: column;
   
    }

    .black-box-thirds {
        width: 100%; 
        margin-bottom: 40px;
        margin-right: 0px;
    }

    .black-box-halves {
        width: 100%; 
    }

    .black-box-thirds-last {
        width: 100%; 
        margin-bottom: 0px;
        margin-right: 0px;
    }

    .black-box-halves {
        width: calc(100% - 160px); 
        margin-bottom: 64px;
       
    }

    .black-box-halves-last {
        width: calc(100% ); 
    
    }

    .black-box-halves {
        width: 100%; 

    }

    .left-image-desc-block {
        padding-right: 0px;
    }

    .a-half-image {
        width: 100%;
        height: max-content;
    }

    .right-image-desc-block {
        padding-left: 0px;
        margin-top: 40px;
    }



    .sqs-col-12 .sqs-col-3 {
        width: 50%;
    }

    .sqs-row {
        width: auto !important;
        display: flex;
        flex-flow: wrap;
    }

    .index-navigation {
        display: flex;
        flex-direction: column;
    }


    #vertical-image-flex{
        flex-direction: row;
    }

   

}

@media only screen and (max-width: 630px) {

    #vertical-image-flex{
        justify-content: center;
    }

    .vertical-interactive {
        margin: auto 0px;
        margin-top: 40px;
        display: none;
    }

}


@media only screen and (max-width: 560px) {
    .black-box-halves {
        width: calc(100%); 
        margin-bottom: 48px;
        margin-top: 24px;
        
    }

    .proj-cover-photos{
        width: 240px;
    }

    .fake-button-proj{
        margin: 0px auto;
        margin-top: 24px;
        width: 100%;
        padding: 16px;
    }

    .black-box-halves-last {
        width: calc(100% ); 
        margin-bottom: 0px;
    }

    .description-task-proj {
        width: 240px;
        margin: 0px auto;
    }

    #know-your-guest-proj {
        margin-top: 480px;
    }

    #kiosk-proj {
        margin-top: 940px;
    }

    #llama-proj {
        margin-top: 1395px;
    }

   
}

    
